/* App.css */

.App {
  text-align: center;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

button:focus {
  outline: 2px solid black;
}
/* Puedes agregar estilos adicionales según sea necesario */
