.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

button:focus {
  outline: 2px solid black;
}
